.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 10em 16.4em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}

.icon.index:before {
    background-position: 0em 0em;
    width: 6.4em;
    height: 6.4em;
}

.icon.index3:before {
    background-position: 0em -6.4em;
    width: 10em;
    height: 10em;
}

